* {
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

:root{
    --blue: rgb(40, 97, 204);
    --green: rgb(101, 180, 101); 
    --red: rgb(236, 71, 71);
}

body {
  min-height: 100vh;
  width: 100%;
}

header {
  width: 100%;
  background-color: var(--blue);
  height: 6vh;
  position: relative;
  display: flex;
  align-items: center;
}

header h1 {
  margin-left: 20%;
  color: white;
}

#gender-container{
  position: absolute;
  right: 20%;
  width: 60px;
  height: 30px;
  background-color: white;
  border-radius: 10vh;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.185);
}
#ball{
  content: '';
  background-color: rgb(255, 0, 200);
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 100%;
  left: 4px;
  transition: transform .2s;
}

#ball span{
  color: white;
}

.male{
  background-color: rgb(0, 47, 255) !important;
  transform: translateX(26px);
}

#gender{
  border: none;
  opacity: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: pink;
}

nav {
  display: flex;
  background-color: rgb(247, 247, 247);
  min-height: 94vh;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

#pessoa {
  width: 900px;
  height: 600px;
  background-color: white;
  border-radius: 4vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  position: relative;
  display: flex;
  margin-top: 40px;
  overflow: hidden;
  transition: transform .60s ease;
}

.next{
    transform: translateY(-120%);
}

#pessoa img {
  width: 50%;
  background-color: black;
}

#info {
  width: 450px;
  color: var(--blue);
  position: relative;
}

#changeContainer{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100%;
  z-index: 1;
  transition: transform .5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

#changeContainer span{
  font-size: 70px;
  color: white;
}

.closed{
  transform: translateY(100%);
}

.liked{
  background-color: var(--green);
}

#info h1, p, h2{
    margin: 20px 30px;
}

#info h1{
    font-size: 40px;
}

#description{
    padding: 5px;
    border-color: black;
    border-width: 1px;
    border-radius: .5vh;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.15);
    color: rgb(148, 148, 148);
}

#buttons {
  margin-top: 8vh;
  width: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 40px;
}


#buttons button {
  border-radius: 100%;
  border: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  background-color: white;
  transition: .3s;
}

#buttons button:hover {
  background-color: var(--blue);
  box-shadow: 0 0 20px var(--blue);
  color: white;
}

.center-btn {
  width: 100px;
  height: 100px;
}

.center-btn span{
    font-size: 80px;
    font-weight: 700;
}

.side-btn {
  width: 60px;
  height: 60px;
}

#like{
    color: var(--green);
}

#deny{
    color: var(--red);
}

#superlike{
    color: var(--blue);
}

#match-screen{
  display: none;
  background-color: var(--blue);
  min-height: 94vh;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

#match-screen h1{
  margin-top: 50px;
  font-size: 80px;
}

#match-screen img{
  border-radius: 20px;
  margin: 60px 0;
  width: 500px;
}

#match-screen button{
  width: 300px;
  height: 40px;
  border-radius: 20px;
  font-size: 20px;
  background-color: brown;
  color: white;
  border: none;
  transition: background-color .2s;
}


#match-screen button:hover{
  background-color: rgb(90, 9, 9);
}

.response-info{
  color: rgb(63, 63, 63);
}

footer{
  width: 100%;
  background-color: rgb(29, 29, 117);
  display: flex;
  justify-content: center;
  align-items: center;
}

#percentages{
  padding: 50px 0;
}

#percentages h1{
  padding-bottom: 10px;
  color: white;
}

@media (max-height: 900px) {
  #pessoa {
    height: 500px;
  }
}

@media (max-width: 900px) {
  #pessoa {
    width: 90%;
  }
  #pessoa img {
    width: 50%;
  }
}

@media (max-width: 700px) {
  #pessoa img {
    width: 100%;
  }
  #info {
    display: none;
  }
}

@media (max-width: 550px) {
  #buttons {
    width: 90%;
  }
}

@media (max-width: 500px) {
    #buttons{
        margin-top: 40px;
}
}
